<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Informasi Backend</title>
</head>
<body>
<section layout:fragment="content">
    <h2>Informasi Backend</h2>

    <ul>
        <li th:each="info : ${backendInfo}"
        th:text="${info.key + ' : ' + info.value}">Hostname : localhost</li>
    </ul>

</section>
</body>
</html>